 <div class="user-details">
  <h1> Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-vim-plain colored"></i>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-intellij-plain colored"></i>
      <p>
        The main IDE for programming is Vim, but any IDE is good, like Netbeans or any IDE developed by Intelli J
        For version control use Git.
      </p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-java-plain colored"></i>
      <i class="devicon-csharp-plain colored"></i>
      <p>
        Know a widely common programming languages, but primary use python for scrippting and lightweight applications, Java for robust apps, php for quickly development, for database i use SQL, and for game programming mostly gdScript and C#.
      </p>
    </div>
    <div class="tech">
      <h2>Design / Sound</h2>
      <i class="devicon-gimp-plain colored"></i>
      <i class="fa fa-soundcloud"></i>
      <p>
        In this branch i use Audacity and LMMS for sound design,
        and for visual design i mainly use Gimp, also photoshop.
      </p>
    </div>
</div>
