<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="scared_monsters" src="{{ "/assets/img/scared_monsters.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Scared Monsters </h3>
    <ul>
      <li> Godot engine </li>
      <li> Pixel art </li>
      <li> Tile maps </li>
    </ul>
    <p>Simple recreation of classic Rock, paper, scissors. The objective is to beat the monsters that appears.</p>
    <a class="project-link" href="https://ccmorataya.itch.io/scared-monsters">Scared monsters prototype</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="infinite_drum" src="{{ "/assets/img/infinite_drum.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Infinite drum </h3>
    <ul>
      <li> Vector graphics </li>
      <li> Sequencial sound </li>
      <li> Cooldown animation </li>
    </ul>
    <p>A virtual drum kit with the possibility to play forever, consist of seven instruments mapped to computer keyboard.</p>
    <a class="project-link" href="https://ccmorataya.itch.io/infinite-drum">Infinite drum demo</a>
  </div>
</div>
<div class="user-projects">
    <div class="images-left">
        <img alt="pyngdeploy" src="{{ "/assets/img/pypi.svg" | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
        <h3> py-ng-deploy </h3>
        <ul>
            <li> CLI </li>
            <li> Python 3 </li>
            <li> SFTP </li>
            <li> Configuration file </li>
        </ul>
        <p>A simple cli application to compile an upload an angular project to a given server, developed to automate the process of testing new features</p>
        <a class="project-link" href="https://pypi.org/project/py-ng-deploy/">py-ng-deploy on PyPi</a>
    </div>
</div>
